# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../:\Faculdade\UFRGS\5º Semestre\Otimização Combinatória\trabalhoFinal\grasp\grasp_algorithm\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
